* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //Define 1rem
  font-size: 62.5%; // 1 rem = 10px
  font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
}
