.board {
  &__header {
    &-name {
      margin-top: 2rem;
      color: $color-orange;
      font-size: 3rem;
      -webkit-text-stroke-color: black;
    }

    &-before-create-button {
      size: .1rem;
      margin: 1rem auto;
      width: 60%;
    }

    &-action {
      padding: 1rem 0;

      &-caret {
        font-size: 2.3rem;
        font-weight: 400;
      }
    }
    
    &-start-new-thread {
      display: inline-block;
      color: white;
      font-size: 2.3rem;
      text-decoration: none;

      &:hover {
        color: $color-orange;
      }
    }

    &-after-create-button {
      height: .1rem;
    }
  }

  &__list {
    display: inline-block;
    font-size: 1.7rem;
    margin-top: 0.3rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:first-child {
      margin-left: 1rem;
    }

    &-caret {
      color: rgb(13, 85, 107);

      &:first-of-type {
        margin-right: 0.3rem;
      }
      &:last-of-type {
        margin-left: 0.3rem;
      }
    }

    &-link {
      margin: 0 0.2rem;
    }
  }
}
