.column {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  list-style: none;
  margin-bottom: 2rem;

  &__heading {
    color: $color-green-dark;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
}
