.form {
  width: 50rem;
  margin: 0 auto;

  &__label {
    color: white;
    font-size: 1.5rem;
    margin-right: .7rem;
    flex: 1 0 3rem;
    display: flex;
  }

  &__input {
    height: 2rem;
    flex: 1 0 15rem;
    padding: .3rem;

    &-text {
      height: 10rem;
    }
  }

  &__submit {
    display: inline-block;
    margin: 0 auto;
    padding: .5rem 2rem;
  }
}

.form-group {
  display: flex;
  
  &:not(:last-child) {
    margin-bottom: .5rem; 
  }
}