.post {
  &__content {
    display: inline-block;
    background-color: $color-off-white;
    color: $color-green-dark;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 0.2rem;
    min-width: 40rem;
  }

  &__content--opPost {
    display: block;
    background-color: transparent;
    color: white;
  }

  &__header {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }

  &__header--opPost {
    margin-bottom: 2rem;
  }

  &__body {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    display: flex;
  }

  &__image {
    margin-right: 1rem;
    flex-shrink: 0;
  }

  &__image--preview {
    width: 200px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image--full-size {
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__date,
  &__time,
  &__number,
  &__author,
  &__subject {
    display: inline-block;
    margin-right: 0.5rem;
  }

  &__subject {
    font-weight: bold;
  }

  &--opPost {
    margin-bottom: 4rem;
  }
}
