#app {
  position: relative;
  background-color: #2e3250;
  width: 100wh;
  height: 100vh;
}

.main-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
}
